.loginMain{
    max-width: 1100px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginArea {
    height: 600px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.loginImage{
    max-width: 626px;
}
.textBox{
    width: 400px;
    background: #E6F8FF;
    border: 1px solid rgba(25, 171, 227, 0.3);
    border-radius: 5px;
}
.loginButton{
    width: 323px;
height: 53px;
background: #4AB449;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin-top: 40px;
border: none;
color: white;
font-family: PoppinsRegular;
font-size: 16px;
cursor:pointer;
}
.orBUtton{
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 50px;
}
.or{
    font-family: PoppinsRegular;
    font-size: 16px;
    margin: 0px 10px;  
}
.signUpButton{
    width: 323px;
    height: 53px;
    background: #26ADE2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
    border: none;
    color: white;
    font-family: PoppinsRegular;
    font-size: 16px;
    cursor:pointer;   
}
.createAcoutn{
    background: #FFFFFF;
border: 1px solid rgba(74, 180, 73, 0.5);
box-shadow: 0px 2px 4px rgba(25, 171, 227, 0.3);
border-radius: 5px;
width: 323px;
height: 53px;
border: none;
    color: #4AB449;
    font-family: PoppinsRegular;
    font-size: 16px;
    cursor:pointer;  
    margin-top: 40px;
}

.oAUtoh{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}


@media (max-width: 768px) {
    .loginImage {
        max-width: 626px;
        display: none;
    }
    .loginMain {
        max-width: 100%;
        height: 800px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .loginArea {
        height: 600px;
        display: flex;
        flex-direction: column;
        max-width: 600px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  }
  @media (max-width: 600px) {
    .loginImage {
        max-width: 626px;
        display: none;
    }
  }